<!DOCTYPE html>
<html>
  <head>
    <title>Vue.js Sample</title>
  </head>
  <body>
    <div id="app">
      <div v-if="liked">눌렀음</div>
      <div v-else>좋아요</div>
      <button v-if="liked" v-on:click="onClickButton">unLike</button>
      <button v-else v-on:click="onClickButton">Like</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          liked: false,
        },
        methods: {
          onClickButton(){
            if(this.liked === false){
              this.liked = true;
            }else{
              this.liked = false;
            }
          },
        },
      });
    </script>
  </body>
</html>